body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    padding: 10px 20px;
    background-color: #1DB954;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1ed760;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

li a {
    color: #fff;
}
